/*NULSTIL DEFAULT INDSTILLINGER*/
* {
  margin: 0%;
  box-sizing: border-box;
}

/*REGLER FOR H1 (bruges til overskrifter), H2 (bruges til underoverskrifter, 
H3 (bruges til den lille tekst under det store tal på temasiden) og p (brødtekst)*/

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: clamp(4rem, 6vw + 1rem, 5.5rem);
}

h2 {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: var(--space-xxs);
  font-size: clamp(2rem, 5.3vw - 1rem, 3rem);
}
/*I mobilversion skærm skal der være en smule afstand mellem hvert afsnit)*/
@media (max-width: 800px) {
  h2 {
    margin-top: var(--space-l);
  }
}

h3 {
  font-family: "Playfair Display SC", serif;
  font-size: var(--space-ml);

  margin-top: -1.6rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.6rem;
  max-width: 60ch;
  margin-bottom: var(--space-xs);
}

img,
video {
  max-width: 100%;
}

/*FOOTER*/
footer {
  margin-top: var(--space-l);
  text-align: center;
  color: gray;
}

/*COSTUM VARIABLER*/
html {
  --primary-color: #ff7029;
  --space-xxs: 0.25rem;
  --space-xs: 0.8rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-ml: 1.6rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
}

body {
  background-color: #dbd5c9;
  margin: var(--space-l);
}

/* header */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: wrap;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #dbd5c9;
  padding: 0.5rem 0rem 1rem 0rem;
}

.main-menu {
  font-family: "Roboto", sans-serif;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.banner a {
  text-decoration: none;
  color: #000;
}

.main-menu a:hover {
  border-bottom: 2px solid orange;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-size: var(--space-l);
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: var(--space-sm);
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: var(--space-sm);
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    text-align: end;
  }
}

.bladre_sider {
  text-align: end;
  margin-top: var(--space-xl);
}

.next_page {
  color: black;
  text-align: end;
  font-family: "Roboto", sans-serif;
}

.next_page:hover {
  border-bottom: 2px solid var(--primary-color);
}
