/*GENERELLE REGLER FOR TEKST + VARIABLER*/
* {
  margin: 0%;
  box-sizing: border-box;
}

h1 {
  font-family: "Playfair Display SC", serif;
  color: black;
  font-size: clamp(4rem, 10vw - 1.5rem, 5.6rem);
}

h2 {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: var(--space-xxs);
  font-size: 3rem;
}

h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 1.6rem;

  margin-top: -1.6rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.6rem;
  max-width: 60ch;
  margin-bottom: var(--space-xs);
}

img,
video {
  max-width: 100%;
}

/*FOOTER*/
footer {
  margin-top: 3rem;
  text-align: center;
  color: gray;
}

/*COSTUM VARIABLER*/
html {
  --primary-color: #ff7029;
  --space-xxs: 0.25rem;
  --space-xs: 0.8rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4.5rem;
}

body {
  background-color: #dbd5c9;
  margin: 2rem;
}

/*NAVIGARTION*/
/* header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
/* width: 100%;
  top: 0;
  left: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

nav li {
  list-style: none;
  display: inline-block;
}

.logo {
  color: black;
  text-decoration: none;
  list-style: none;
  font-size: 3rem;
} */
/* */

/* header */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: wrap;
}

.main-menu {
  font-family: "Roboto", sans-serif;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  transition: background-color 0.5s ease;
}

.banner a {
  text-decoration: none;
  color: #000;
}

.main-menu a:hover {
  border-bottom: 2px solid orange;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    text-align: end;
  }
}
