/*---------------MOBILEFIRST---------------*/

/*FORSIDE*/

/*OMMIG*/
.h1_topmargin {
  margin-top: 2rem;
}

.citat {
  margin-block: 2rem;
  text-align: center;
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 700px) {
  .img_place {
    margin-left: -5rem;
  }
}

.p_topmargin {
  margin-top: 1rem;
}

.p_top_buttom_margin {
  margin-block: 0.6rem 2.5rem;
}

.grid_2col_ommig {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 50px;
}

.border {
  border-right: 1px solid black;
}

.sort_h2 {
  color: black;
  margin-bottom: 0rem;
}

.tekst_ommig {
  max-width: 65ch;
}

/*---------------MOBILEFIRST SLUUUUT---------------*/

/*---------------DESKTOP---------------*/

/*første sektion med billede og lille tekst, citat osv*/

@media (min-width: 800px) {
  .grid_2col_sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 3rem;
  }

  .img_place1 {
    order: -1;
    place-content: left;
  }
}

@media (min-width: 1200px) {
  .grid_2col_sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 12rem;
    gap: 40px;
  }

  .img_place1 {
    order: -1;
    place-content: left;
  }
}

/*nederste sektioner med uddannelse, erhverv og kontakt*/
@media (min-width: 800px) {
  .grid_col2_ommig_desk {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2rem;
    gap: 20px;
  }
  .uddannelse_desktop {
    font-size: 4rem;
    text-align: center;
  }

  .grid_2col_ommig {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}
