/*------------------------------------------FORSIDE----------------------------------------------------------*/
/*mobilversion*/
/*Juster på placeringen af splashbillede og footeren i mobilversion, 
så elementerne ikke ligger for højt oppe*/
@media (max-width: 550px) {
  .splash {
    padding-top: 5rem;
  }
  footer {
    margin-top: 10rem;
  }
}

/*DESKTOPVERSION - forside*/
/*placering af splash*/
.splash {
  display: grid;
  place-content: center;
  margin-top: 2rem;
}

/*Styling af knapper på forsiden*/
.knap_forside {
  font-size: 0.9rem;
  background-color: none;
  border: solid 1px black;
  padding: 0.2rem 1.2rem;
  padding-top: 0.3rem;
  color: black;
  text-decoration: none;
}
/*Placering af knapper på forsiden*/
.knap_grid {
  display: grid;
  place-content: end;
  margin-block: 1rem;
  padding-inline: 0.6rem;
}
/*Knapperne forskydes en lille smule, når skærmen bliver over 800 px*/
@media (min-width: 800px) {
  .knap_grid {
    padding-inline: 7rem;
  }
}
/*Hovereffekt på knapper på forsiden*/
.knap_forside:hover {
  background-color: #ff7530;
  font-size: 1.4rem;
  color: #dbd5c9;
  border: solid 1px #dbd5c9;
}

/*-------------------------------------------OM MIG-----------------------------------------------------------*/
/*MOBILVERSION*/
/*Første overskrift på siden skubbes lidt ned*/
.h1_topmargin {
  margin-top: 1rem;
}
/*citatet under styles*/
.citat {
  margin-block: 2rem;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: clamp(1.5rem, 0.8vw + 1rem, 1.6rem);
}

/*Portrætbilledet af mig skal rykke ud mod venstre i mobilversion*/
@media (max-width: 700px) {
  .img_place {
    margin-left: -5rem;
  }
}

/*Kontakt skal styles med sort og den generelle regl fra h2 om margin fjernes*/
.sort_h2 {
  color: black;
  padding-top: 0.8rem;
}

/*DESKTOPVERSION (om mig)*/
/*Grid til første section på om mig-siden*/
@media (min-width: 800px) {
  .grid_2col_sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 3rem;
  }

  .img_place1 {
    order: -1;
    place-content: left;
  }
}
/*Denne mediaquary er ligeledes lavet til første section, 
fordi billedet blev for småt, hvis ikke den er her*/
@media (min-width: 1200px) {
  .grid_2col_sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 12rem;
    gap: 40px;
  }

  .img_place1 {
    order: -1;
    place-content: left;
  }
}

/*Grid til anden section (uddannelse, kontakt osv.) på om mig-siden*/
@media (min-width: 800px) {
  .grid_2col_sec2_ommig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 4rem;
  }
  /*H2 styles større end den generelle H2-regel*/
  .h2_stor_ommig {
    font-size: clamp(3rem, 13.3vw - 4.5rem, 5.5rem);
    text-align: end;
    margin-top: 2rem;
  }

  /*En lille margin på KONTAKT i om mig siden, da den ellers ikke 
  ville flugte med de andre H2'ere*/
  .margin_top {
    margin-top: 1.5rem;
  }
}

/*-------------------------------------------PROJEKTER-----------------------------------------------------------*/
/*Rykker h1 ind på linje med billederne i  mobilversion*/
.h1_projekter {
  padding-block: 1.5rem;
}

/*Grid til de forskellige projekter.
auto-fit = tilføjer så mange colums og rows, som den kan 
Minmax = den må være minst 300px og 1fr betyder at den må være så stor, som den overhovedet kan blive*/
@media (min-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 40px;
    padding-inline: 120px;
    padding-bottom: 2rem;
    gap: 20px;
  }
  /*Rykker h1 ind på linje med billederne i  desktopversion*/
  .h1_projekter {
    padding: 3rem 0rem 0rem 7.4rem;
  }
}

/*Vigtig at have, da både img og text/content ligger inden i denne div/klasse --> derfor position relative
Alt indhold ligger deri, men content+overlay bliver gemt, til når man hover over med musen
Overflow hidden = hvis der er noget, som stikker ud af containeren bliver det gemt*/
.img_wrapper {
  position: relative;
  overflow: hidden;
}

/*Tager fat i billedet i img_wrapper*/
.img_wrapper > img {
  width: 100%; /*billedet skal fylde 100% af containeren*/
  aspect-ratio: 1/1; /*Kvadratisk*/
  object-fit: cover;
  object-position: center;
}

.img_wrapper > .content {
  position: absolute;
  inset: 0; /*Gør at teksten ligger sig på selve billedet*/
  padding: 2rem;
  padding-top: 6rem;
  background: rgba(8, 11, 70, 0.7);
  text-align: center;
}

/*Giver både img og content den samme transition så det matcher*/
.img_wrapper > img,
.img_wrapper > .content {
  transition: 200ms ease-in-out;
}

/*Skjuler content ved at sige opaciti 0*/
.img_wrapper > .content.fade {
  opacity: 0;
}

/*Når vi hover over vores img-wrapper, tager vi fat i content - og hvis content har 
fade klassen skal den lave fade ind og ud animationen*/
.img_wrapper:hover > .content.fade {
  opacity: 1;
}

/*Styling af a-tags i vores firkanter under projekter*/
a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
}
/*Styling af h2 i firkanterne under projekter*/
.hover_h2 {
  font-size: 4rem;
}
/*endnu en hovereffekt på vores h2, når vi hover over den*/
.hover_h2:hover {
  font-size: 6rem;
}

/*--------------------------------------TEMAEEEERRR FØRSTE SECTION----------------------------------------------*/

/* Generelt for alle overordnede temabeskrivelser og det store tal med tematitlen under
Grid på to kolonner til første section på alle temaer*/
@media (min-width: 800px) {
  .tema_1section_2col {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 80px;
    padding-bottom: 4rem;
  }
  /*regel for det store tal og tematitlen, f.eks. grundlæggende web, skal ligge til højre*/
  .tema_overskrift {
    text-align: end;
  }
  /*Temabeskrivelse til højre for tallet er rykket ned, så det passer med kolonnen til venstre 
med det store tal i*/
  .temabeskrivelse {
    margin-top: 9rem;
  }
}
/*Styling af stort tal i første section på hvert tema*/
.tema_stort_tal {
  font-size: 17rem;
  color: var(--primary-color);
}
/*Styling af tematitel (den sorte skrift) i både desk og mobil*/
.tema_overskrift {
  margin-bottom: 1rem;
}

/*--------------------------------------TEMAEEEERRR ANDEN SECTION----------------------------------------------*/

/*grid med tre kolonner til opavebeskrivelsen. Mediaquary er så høj, fordi at billedet
ellers ville blive for småt */
@media (min-width: 1100px) {
  .tema_2section_3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7rem;
    border: 2px solid var(--primary-color);
    padding: 3 3 2 3rem;
  }
  /*Læs mere knappen centreres i opgavebeskrivelsen*/
  .calltoaction_center {
    text-align: center;
    margin-top: 8rem;
  }
}

/*billedet i opgavebeskrivelsen til højre rykkes lidt ned, så der er lige meget plads
forbliver nede i mobilversion også, så knappen ikke ligger helt op af img*/
.img_opgavebeskrivelse {
  padding-top: 2rem;
}
/*Styling af section til opgavebeskrivelsen*/
.tema_2section_3col {
  border: 2px solid var(--primary-color);
  padding: 2rem;
  margin-block: 3rem;
}

/*Generel call to action knap til alle temaer i opgavebeskrivelsen*/
/*styling af knap*/
.calltoaction {
  font-size: 0.9rem;
  background-color: none;
  border: solid 1px black;
  padding: 0.2rem 1.2rem;
  padding-top: 0.4rem;
  color: black;
  text-decoration: none;
  text-align: center;
}
/*styling af hovereffekt på knap*/
.calltoaction:hover {
  background-color: #ff7530;
  font-size: 1.4rem;
  color: #dbd5c9;
  border: solid 1px #dbd5c9;
}
/*call to action cnap centreres ligeledes i mobilversion ude fra mediaquarien*/
.calltoaction_center {
  text-align: center;
}

/*--------------------------------------PROCESSEN - TEMAEEEERRR----------------------------------------------*/
/*Grid til processerne på de forskellige temaer*/
@media (min-width: 800px) {
  .proces_2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-inline: 6rem;
    margin-block: 7rem;
  }

  /*for at skabe varation, ligger de forskellige faser forskudt af hinanden*/
  .proces_byt_plads {
    order: -1;
  }
  /* desktopversion --> I tema 5 har vi to afleveringer, 
  hvorfor en ekstra call to action knap er tilføjet her*/
  .calltoaction_knap2_tema05 {
    padding-top: 13rem;
  }
}

/*mobilversion*/
@media (max-width: 1100px) {
  .calltoaction_knap2_tema05 {
    padding-top: 2rem;
  }
}

/*--------------------------KNAPPEN TIL AT GÅ VIDERE TIL NÆSTE SIDE STYLES-------------------*/

.bladre_sider {
  text-align: end;
  margin-top: var(--space-xl);
}

.next_page {
  color: black;
  text-align: end;
  font-family: "Roboto", sans-serif;
}

.next_page:hover {
  border-bottom: 2px solid var(--primary-color);
}
